* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.menu-container {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #5995DA;  /* Bleu */
  padding: 20px 0;
}

  .menu {
    display: flex;
    justify-content: space-between;
  width: 900px;
}
  .signup {
    margin-left: auto;
  }  
  .login {
    margin-left: 20px;
  }
  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;

  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;    /* Changez ceci */
  }




.photo-grid-container {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.photo-grid {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
}

.photo-grid-item {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}  
  


.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}